/* ---------------------------------------- */
/* main app css */
/* ---------------------------------------- */

.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #999999;
}

h1, h2, h3, h4, h5, h6 {
 color: #888888;
}

a {
  text-decoration: none;
  color: #47c9e5; 
}

a:hover {
  color: #10a0c0; 
}

.container {
  max-width: 1200px;
  margin: auto
}

.personContainer {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: center;
  grid-gap: 1.5rem
}

/* ---------------------------------------- */
/* card media query */
/* ---------------------------------------- */

@media (max-width: 960px) { 
  .personContainer {
    grid-template-columns: repeat(2, 45%);
  }   
}

@media (max-width: 760px) { 
  .personContainer {
    grid-template-columns: 100%;
  }   
}